body{ 
    margin: 0;
    padding: 0;  
    width: 100%;                                           
    background-color: rgb(247, 251, 252);	    
 }
 
 img#logo{
    position:fixed;
    width:150px;
    bottom:20px;
    right:10px
}
img#stick{
    width:200px;
    bottom:140px;
    right:30px;
    left:100px;

}
#left {
   float: left;
   width: 50%;
   height: 100%;
   background-color: hsl(189, 100%, 50%);
 }
 
 #right {
   overflow: hidden;
   background-color: hsl(120, 23%, 91%);
   width: 50%;
   height: 100%;

 }
